* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.tips {
  padding: 20px 40px;
  background: #6d6d6d;
  color: #fff;
  box-shadow: 2px 4px 6px #e9d475;
}
.tips li {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px dashed #444;
}

.tips .order_no {
  font-weight: 700;
  color: chartreuse;
}