* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.tips {
  padding: 20px 40px;
  background: #6d6d6d;
  color: #fff;
  box-shadow: 2px 4px 6px #e9d475;
}
.tips li {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px dashed #444;
}

.tips .order_no {
  font-weight: 700;
  color: chartreuse;
}

/* 菜单 */
.menu-wrapper {
  padding-left: 50px;
  margin-top: 20px;
}

.menu-wrapper li {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 52px;
  border-bottom: 1px dashed #e9d475;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.menu-wrapper li::before {
  position: absolute;
  left: -40px;
  top: 0px;
  content: '——';
  width: 1px;
  height: 100%;
  background: #fff;
}
.menu-wrapper li a{
  display: inline-block;
  min-width: 320px;
  text-decoration: none;
  color: bisque;
}
.main-container {
  background: #343434;
  color: bisque;
}

.menu-wrapper li span {
  color: #f90;
}
